//background//

@mixin background($img){
    
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: cover;
}


//arrow//

@mixin arrow($direction){

    @if($direction == up_direction){

    
    width: 0; 
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid #EFD7D7;
    }

    @if ($direction == down_direction) {
        width: 0; 
        height: 0;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-top: 2rem solid #EFD7D7;
    }
}


//responsive//


@mixin breakpoint($width){
    @media screen and (max-width: $width){
        @content;
    }

}

//flex///

@mixin flex($flex_direction : null, $align_items : null, $justify_content : null){
    display: flex;
    @if($flex_direction != null){
        flex-direction: $flex_direction;
    }
    @if($align_items != null){
        align-items: $align_items;
    }
    @if ($justify_content != null) {
        justify-content: $justify_content;
    } 
}
